/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2019, 10:00:23 AM
    Author     : dev
*/

#trainerName{
/*    -fx-font-size: 20px;
    -fx-background-color: teal;*/
}
.taskHBox{
    -fx-padding : 2;
    -fx-border-radius : 5;
    -fx-border-color: #9c1b21;
}
.taskLbl1{
    -fx-border-color: white;
    -fx-border-radius : 5;
}

.taskLbl2{
    -fx-border-color: white;
    -fx-border-radius : 5;
}
.taskBtnDefault{
    -fx-background-color: #9c1b21;
    -fx-text-fill: white;
}
.taskBtnDone{
    -fx-background-color: green!important;
    -fx-text-fill: white;
}